.home-page {
    height: 88.9vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, #4AC29A 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-page .home-div p {
    font: 600 1.25rem/1 'Effra';
    color: #3e64ff;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.home-page .home-div h2 {
    font: 600 2rem/1 'Effra';
}

.home-page .home-div span {
    font-weight: 500;
    padding-top: 0.25rem;
}

@media screen and (max-width: 767px) {
    .home-page .home-div h2 {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.1;
    }
}